@mixin centered-width-table-column($width) {
  width: $width;
  max-width: $width;
  text-align: center;
  vertical-align: middle;
}

@mixin button($background, $color, $hoverBackground, $hoverColor) {
  @include background($background, $color);
  border-color: $background;

  &:hover {
    @include background($hoverBackground, $color);
    border-color: $hoverBackground;
  }

  &:active {
    border-color: $hoverBackground;
  }

  &:disabled {
    border-color: $hoverBackground;
  }
}

@mixin background($background, $color) {
  background-color: $background !important;
  color: $color !important;
}
