.status-new {
  background-color: #C1C1C1 !important;
  color: black;
}

.status-incomplete {
  background-color: red !important;
  color: white;
}

.status-confirmed,
.status-will-implement {
  background-color: #3b76fd !important;
  color: white;
}

.status-fix-in-progress {
  background-color: orange !important;
  color: white;
}

.status-in-review {
  background-color: orangered !important;
  color: white;
}

.status-fixed-on-staging,
.status-implemented-on-staging {
  background-color: green !important;
  color: white;
}

.status-fix-released,
.status-implemented {
  background-color: darkgreen !important;
  color: white;
}

.status-wont-fix,
.status-wont-implement {
  background-color: black !important;
  color: white;
}
