$dark: #1F1F27;
$darker: #15151E;
$lighter: #31313C;
$primary: #F8B739;
$color: #C1C1C1;

$pagination-bg: $darker;
$pagination-border-color: $lighter;

$pagination-disabled-bg: $dark;
$pagination-disabled-border-color: $lighter;

$pagination-hover-bg: $lighter;
$pagination-hover-border-color: $lighter;

$pagination-focus-bg: $lighter;
