@import "bootstrap/scss/functions";

// --- DEFAULT
$darker: #15151E;
$default: #24242C;
$lighter: #3A3A41;
$primary: #F8B739;

// --- Cobalt2 VS Code theme inspired
//$darker: #022C43;
//$default: #053F5E;
//$lighter: #115173;
//$primary: #FFD700;

// --- UPC Direct Dark
//$darker: #002B36;
//$default: #073642;
//$lighter: #586E75;
//$primary: #F8B739;

// General colour styles
$body-color: #C1C1C1;
$dark: $default;
$body-bg: $darker;

// Table styles
$border-color: $lighter;
$bg-table-header: $body-bg;
$table-color: #FFFFFF;

// Form control styles
$input-border-color: $lighter;

// Pagination styles
$pagination-bg: $body-bg;
$pagination-border-color: $lighter;
$pagination-disabled-bg: $dark;
$pagination-disabled-border-color: $lighter;
$pagination-hover-bg: $lighter;
$pagination-hover-border-color: $lighter;
$pagination-focus-bg: $lighter;

// Navbar styles
$navbar-border-radius: 0.75rem;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

$custom-colors: (
        'nav-item': $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
