@font-face {
  font-family: 'f1-regular';
  src: url('fonts/f1-regular.ttf');
}

@font-face {
  font-family: 'titillium-regular';
  src: url('fonts/titillium-regular.ttf');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('fonts/roboto-regular.ttf');
}

@import 'bootstrap';
@import 'components/tables';
@import 'components/buttons';
@import 'components/forms';
@import 'components/nav-pills';
@import 'components/bg';
@import 'statuses';

[data-theme="dark"] {
  @import 'themes/dark';
}

[data-theme="light"] {
  @import 'themes/light';
}

[data-theme="f1-light"] {
  @import 'themes/f1-light';
}

[data-theme="f1-dark"] {
  @import 'themes/f1-dark';
}

:root {
  --purple: #A72EBB;
}

body {
  font-family: var(--body-font-family);
}

body {
  background-color: var(--base-100);
  color: var(--color);
}

.st-card {
  background-color: var(--base-200);
}

a,
.btn-link,
.nav-link {
  text-decoration: none;
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--primary-hover);
  }
}

ul.navbar-nav {
  li {
    a, button.btn-link {
      font-size: 1.25rem;
    }
  }
}

.dropdown-item {
  &:active,
  &:focus {
    background-color: var(--primary);
    color: var(--primary-color);
  }
}

.dropdown-menu {
  background-color: var(--base-100);

  .nav-item:hover {
    background-color: var(--base-300);
  }
}

.pagination {
  .page-item {
    &.active {
      .page-link {
        background-color: var(--primary);
        color: var(--base-100);
      }
    }

    .page-link {
      background-color: var(--base-100);
      color: var(--primary);
      border: 1px solid var(--base-300);

      &.disabled {
        background-color: var(--base-200);
        color: var(--base-300);
      }
    }
  }
}

.modal-content {
  background-color: var(--base-100);

  .modal-header {
    border-bottom: 1px solid var(--base-300);
  }

  .modal-footer {
    border-top: 1px solid var(--base-300);
  }
}
