.form-control,
.form-select {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--color);

  &:focus {
    background-color: var(--input-background-color);
    color: var(--color);
    border-color: var(--primary-hover);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--input-background-disabled);
    cursor: not-allowed;
  }
}

.form-narrow {
  width: 50%;
}
